.logo-doctolib {
    background-image: url("../img/brand/logo.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 95px auto;
    display: inline-block;
    height: 50px;
    width: 95px;
}