<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
     id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header align-items-center">
            <a class="navbar-brand" href="/dashboard/">
                <img src="/static/assets/img/brand/blue.png"
                     class="navbar-brand-img"
                     alt="Argon Design - Jinja Template Logo."/>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if 'index' in segment %} active{% endif %}"
                           href="/dashboard/">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active{% endif %}"
                           href="/dashboard/profile">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>
                    {% if request.user.is_practitioner %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'slot' in segment %} active{% endif %}"
                           href="/dashboard/slot">
                            <i class="ni ni-bullet-list-67 text-primary"></i>
                            <span class="nav-link-text">Mes créneaux</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_practitioner %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'service' in segment %} active{% endif %}"
                           href="/dashboard/service">
                            <i class="ni ni-hat-3 text-info"></i>
                            <span class="nav-link-text">Mes services</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_practitioner %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'calendar' in segment %} active{% endif %}"
                           href="/dashboard/calendar">
                            <i class="ni ni-calendar-grid-58 text-danger"></i>
                            <span class="nav-link-text">Mon agenda</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_practitioner %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'tables' in segment %} active{% endif %}"
                           href="/dashboard/practice">
                            <i class="ni ni-building text-green"></i>
                            <span class="nav-link-text">Mon Cabinet</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="ni ni-user-run text-red"></i>
                            <span class="nav-link-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
