{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--6">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Créer votre cabinet </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              {% if success is not None %}
                <div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body rounded-lg text-white {% if success %} bg-success {% else %} bg-danger {% endif %} ">
                                {{ msg }}
                            </div>
                        </div>
                    </div>
                </div>
              {% endif %}
              <form method="POST" action="">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Les informations</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-practiceName">Nom du cabinet</label>
                        {{ form.name }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="webSiteInput">Site internet</label>
                        {{ form.website }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="textarea-description">Description</label>
                        {{ form.description }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="phoneInput">Numéro de téléphone</label>
                        {{ form.phone }}
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Adresse</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Adresse postale</label>
                        {{ form.address }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Département</label>
                        {{ form.state }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">Ville</label>
                        {{ form.city }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Code postal</label>
                        {{ form.zipcode }}
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <div class="row justify-content-end">
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
