{% extends 'layouts/base.html' %}
{% block title %}
    Mes factures
{% endblock title %}
{% block content %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Mes Factures</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Mes Factures</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Practicien</th>
                                    <th scope="col" class="sort" data-sort="description">Prestation</th>
                                    <th scope="col" class="sort" data-sort="price">Prix</th>
                                    <th scope="col">Statut de paiement</th>
                                    <th scope="col" class="sort" data-sort="status">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for billing in billings %}
                                    <tr>
                                        <td>Dr. {{ billing.service.practice.user.first_name }} {{ billing.service.practice.user.last_name }}</td>
                                        <td>{{ billing.service.name }}</td>
                                        <td>{{ billing.service.price }} €</td>
                                        <td>
                                            {% if billing.slot.status == "available" %}
                                                <i class="ni ni-check-bold text-green"></i>
                                            {% else %}
                                                <i class="ni ni-check-bold text-danger"> </i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="/dashboard/billing/{{ billing.id }}/show">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     style="width:20px"
                                                     fill="none"
                                                     viewBox="0 0 24 24"
                                                     stroke="currentColor"
                                                     stroke-width="2">
                                                    <path stroke-linecap="round"
                                                          stroke-linejoin="round"
                                                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                                                    <path stroke-linecap="round"
                                                          stroke-linejoin="round"
                                                          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                {% if billings.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">
                                            <i class="fas fa-angle-left"></i>
                                            <i class="fas fa-angle-left"></i>
                                            <span class="sr-only">Premier</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ billings.previous_page_number }}">
                                            <i class="fas fa-angle-left"></i>
                                            <span class="sr-only">Précédant</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="page-item">Page {{ billings.number }} sur {{ billings.paginator.num_pages }}</li>
                                {% if billings.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ billings.next_page_number }}">
                                            <i class="fas fa-angle-right"></i>
                                            <span class="sr-only">Suivant</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ billings.paginator.num_pages }}">
                                            <i class="fas fa-angle-right"></i>
                                            <i class="fas fa-angle-right"></i>
                                            <span class="sr-only">Dernier</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
